<div class="row">
    <div class="large-3 columns">
        <label>Region</label>
        <label><%= regionName %></label>
        <br />
        <label>Club</label>
        <label><%= clubName %></label>
        <br />
        <label>Teams</label>
        <label><%= teamsNames %></label>
    </div>
    <div class="large-9 columns"></div>
</div>