<div id="clubWrapper">
    <h2>This is /ex1/screen1.</h2>
</div>
<a href="/ex1/club" pjax-anchor>PJAX display club screen.</a>
<br />
<a href="/ex1/team" pjax-anchor>PJAX display team screen.</a>
<br />
<p>Or click Back.</p>