<div class="row">
    <div class="large-3 columns">
        <label>Region</label>
        <select multiple size="5">
            <option value="r1">Montreal East</option>
            <option value="r2">Montreal West</option>
            <option value="r3">Laval East</option>
            <option value="r4">Laval West</option>
        </select>
    </div>
    <div class="large-3 columns">
        <label>Club</label>
        <select multiple size="5">
            <option value="r1c1">Rosemere</option>
            <option value="r1c2">Outremont</option>
            <option value="r2c1">Kirkland</option>
            <option value="r2c2">Pierrefonds</option>
        </select>
    </div>
    <div class="large-3 columns"></div>
</div>

<hr />

<div class="row">
    <div class="large-6 columns">
        <div class="panel">
            <label>Coach & scheduler sign in:</label>
            <input type="text" placeholder="Your user id" size="10">
            <input type="text" placeholder="Your password" size="10">
            <a class="button round" href="#">Coach & scheduler signin</a>
        </div>
    </div>
    <div class="large-7"></div>
</div>
<script>

</script>
